@font-face {
    font-family: 'bebasneueregular';
    src: url('fonts/bebasneue-webfont.eot');
    src: url('fonts/bebasneue-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/bebasneue-webfont.woff') format('woff'),
         url('fonts/bebasneue-webfont.ttf') format('truetype'),
         url('fonts/bebasneue-webfont.svg#bebasneueregular') format('svg');
		 font-family: 'ubuntu', sans-serif;
    font-weight: normal;
    font-style: normal;
}

body{
	font-family: 'Ubuntu', sans-serif;
	background: #000;
	font-weight: 400;
	font-size: 15px;
	color: #aa3e03;
	overflow-y: scroll;
	overflow-x: hidden;
}
.ie7 body{
	overflow:hidden;
}
a{
	color: #333;
	text-decoration: none;
}
.logo-container{
	border-bottom: 10px solid #2c2c2c;
	text-align: center;
	z-index:100;
    background-color: #202020;
}

.logo-container img {
	width:30%;
}

.social-media {
	border-top: 10px solid #2c2c2c;
	font-size:24px;
	height:200px;
	color:white;
	background-color: #202020;
}


.social-media > div > a {
    padding: 5px; 
	height: 50px;
    width: 50px;
    display: inline-block;
	 -webkit-transition: all 0.5s ease; /* Safari and Chrome */
    -moz-transition: all 0.5s ease; /* Firefox */
    -ms-transition: all 0.5s ease; /* IE 9 */
    -o-transition: all 0.5s ease; /* Opera */
    transition: all 0.5s ease;
}

.social-media > div > a:hover {
   -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
	transform:scale(1.25);
}

.fa-circle {
	color:white;
}

.cl-gr {
	color: rgba(90, 58, 97, 0.7) !important;
}
@media (min-width: 1200px) { 
	.logo-container img {
		width: 30%;
	}
}

@media (max-width:  768px) {
	.logo-container img {
		width: 75%;
	}
}

@media (max-width:  576px) {
	.logo-container img {
		width: 90%;
	}
}