@font-face {
    font-family: 'bebasneueregular';
    src: url('fonts/bebasneue-webfont.eot');
    src: url('fonts/bebasneue-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/bebasneue-webfont.woff') format('woff'),
         url('fonts/bebasneue-webfont.ttf') format('truetype'),
         url('fonts/bebasneue-webfont.svg#bebasneueregular') format('svg');
		 font-family: 'ubuntu', sans-serif;
    font-weight: normal;
    font-style: normal;
}

body{
	font-family: 'Ubuntu', sans-serif;
	/* min-height:800px; */
	background: #000;
	font-weight: 400;
	font-size: 15px;
	color: #aa3e03;
	overflow-y: scroll;
	overflow-x: hidden;
}
.ie7 body{
	overflow:hidden;
}
a{
	color: #333;
	text-decoration: none;
}
.logo-container{
	border-bottom: 10px solid #654e90;
	text-align: center;
	z-index:100;
	/* margin: 0 30% 0 30%; */
    background-color: rgba(90, 58, 97);
}

.logo-container img {
	width:30%;
	background-color: rgba(90, 58, 97, 0.7);
}

.social-media {
	border-top: 10px solid #654e90;
	/* position:fixed; */
	/* bottom:0; */
	/* right:0; */
	/* width:100%; */
	
	font-size:24px;
	/* margin-top:25px; */
	height:200px;
	color:white;
	
	background-color: rgb(65, 42, 70);
    /* padding: 10px; */
    /* border: 1px solid white; */
}


.social-media > div > a {
    padding: 5px; 
	height: 50px;
    width: 50px;
    display: inline-block;
	 -webkit-transition: all 0.5s ease; /* Safari and Chrome */
    -moz-transition: all 0.5s ease; /* Firefox */
    -ms-transition: all 0.5s ease; /* IE 9 */
    -o-transition: all 0.5s ease; /* Opera */
    transition: all 0.5s ease;
}

.social-media > div > a:hover {
   -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
	transform:scale(1.25);
}

.fa-circle {
	color:white;
}

.cl-gr {
	color: rgba(90, 58, 97, 0.7) !important;
}

/* Media Queries */
@media screen and (max-width:  767.98px) {

	.container > header{
		text-align: center;
	}
	p.codrops-demos {
		position: relative;
		top: auto;
		left: auto;
	}
}

